@use "./base.scss";

// put your custom CSS here!
@font-face {
  font-family: "LXGWWenKaiGBScreenR";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/static/LXGWWenKaiGBScreenR.ttf") format("truetype");
}
